<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Edith Clarke</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <img src="/img/clarke.jpg" alt=""> <br>
    <a href="/">Volver</a>
    <p>Edith Clarke (Howard, 10 de febrero de 1883 – Maryland, 29 de octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos). Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.3​</p>
</body>
</html>